{% if pagename.startswith("blog") and pagename.split("/") | length > 1 %}
{% set dir = pagename.split("/")[1] %}
{% set token = pagename.split("/")[-1] %}
{% if "archive" != dir and "author" != dir and "category" != dir and "language" != dir and "location" != dir and "tag" != dir and not token.startswith("2") %}
<script>
class ModeToggle {
    static get MODE_KEY()
    {
        return "mode";
    }
    static get DARK_MODE()
    {
        return "dark";
    }
    static get LIGHT_MODE()
    {
        return "light";
    }
    static get AUTO_MODE()
    {
        return "auto";
    }
    static get ID()
    {
        return "mode-toggle";
    }
    constructor()
    {
        let self = this; /* always follow the system prefers */
        this.sysDarkPrefers.forEach((el) => {
            el.addEventListener("click", () => {
                self.notify();
            });
        });
    } /* constructor() */
    get sysDarkPrefers()
    {
        return document.querySelectorAll(".theme-switch-button");
    }
    get isSysDarkPrefer()
    {
        return this.sysDarkPrefers.matches;
    }
    get isDarkMode()
    {
        return this.mode === ModeToggle.DARK_MODE;
    }
    get isLightMode()
    {
        return this.mode === ModeToggle.LIGHT_MODE;
    }
    get hasMode()
    {
        return this.mode != null;
    }
    get mode()
    {
        return localStorage.getItem(ModeToggle.MODE_KEY);
    } /* get the current mode on screen */
    get modeStatus()
    {
        if (this.isLightMode || (!this.hasMode && this.isSysDarkPrefer)) {
            return ModeToggle.LIGHT_MODE;
        } else {
            return this.mode;
        }
    }
    flip()
    {
        if (this.modeStatus === ModeToggle.LIGHT_MODE) {
            return ModeToggle.AUTO_MODE;
        } else if (this.modeStatus == ModeToggle.AUTO_MODE) {
            return ModeToggle.DARK_MODE;
        } else {
            return ModeToggle.LIGHT_MODE;
        }
    }
    notify()
    {
        window.postMessage({
            direction: ModeToggle.ID,
            message: this.flip()
        }, "*");
    }
} /* ModeToggle */
const toggle = new ModeToggle();
</script>
<script>
    $(function() {
        const origin = "https://giscus.app";
        const iframe = "iframe.giscus-frame";
        const lightTheme = "light";
        const darkTheme = "dark";
        let initTheme = lightTheme;
        if ($("html[data-mode=dark]").length > 0 || ($("html[data-mode]").length == 0 && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
            initTheme = darkTheme;
        }
        let giscusAttributes = {
            "src": "https://giscus.app/client.js",
            "data-repo": "pythonpe/pythonpe-blog",
            "data-repo-id": "R_kgDOLnXH7w",
            "data-category": "Blog comments",
            "data-category-id": "DIC_kwDOLnXH784CeaCq",
            "data-mapping": "pathname",
            "data-reactions-enabled": "1",
            "data-emit-metadata": "0",
            "data-theme": initTheme,
            "data-input-position": "bottom",
            "data-lang": "es",
            "crossorigin": "anonymous",
            "async": ""
        };
        let giscusScript = document.createElement("script");
        Object.entries(giscusAttributes).forEach(([key, value]) => giscusScript.setAttribute(key, value));
        document.getElementById("tail-wrapper").appendChild(giscusScript);
        addEventListener("message", (event) => {
            if (event.source === window && event.data && event.data.direction === ModeToggle.ID) {
                /* global theme mode changed */
                const mode = event.data.message;
                const theme = (mode === ModeToggle.DARK_MODE ? darkTheme : lightTheme);
                const message = {
                    setConfig: {
                        theme: theme
                    }
                };
                const giscus = document.querySelector(iframe).contentWindow;
                giscus.postMessage({
                    giscus: message
                }, origin);
            }
        });
    });
</script>
<div id="tail-wrapper">
</div>
{% endif %}
{% endif %}
