{% if ablog %}
<div class="ablog-sidebar-item ablog__recentposts">
<h3>
    <a href="{{ ablog.blog_baseurl}}/{{ pathto(ablog.blog_path) }}">{{ gettext('Recent Posts') }}:</a>
</h3>
<ul>
  {% set pcount = 1 %}
  {% for recent in ablog.recent(5, pagename) %}
  <li>
      <a href="{{ ablog.blog_baseurl }}/{{ pathto(recent.docname) }}{{ anchor(recent) }}">
          {{ recent.title }}
      </a>
      por
      <a href="{{ ablog.blog_baseurl }}/{{ pathto(ablog.blog_path) }}author/{{ recent.author[0] | lower | replace(' ', '-')  }}/">
        {{ recent.author[0] }}
      </a>
      el {{ recent.date.strftime(ablog.post_date_format) }}
    {% set ns = namespace(count_image=0, count=0) %}
    {% for excerpt in recent.excerpt %}
        {% set ns.count = ns.count + 1 %}
        {% for image in excerpt.traverse()  %}
            {% if ns.count_image == 0 and image.tagname == 'image' %}
                {% set ns.count_image = ns.count %}
                <p class="ablog-post-excerpt">
                    <img src="{{ ablog.blog_baseurl }}/{{ image['uri'] }}"{%if image.attributes.get('align') %} align="{{ image.attributes.get('align') }}"{% endif %}{%if image.attributes.get('width') %} width="{{ image.attributes.get('width') }}"{% endif %}{%if image.attributes.get('height') %} height="{{ image.attributes.get('height') }}"{% endif %} alt="{{ excerpt.astext() | safe }}">
                </p>
            {% endif %}
        {% endfor %}
        {% if (ns.count_image == 0 or ns.count == ns.count_image + 1) and excerpt.tagname == 'paragraph' %}
        <p class="ablog-post-excerpt">
            {{ excerpt.astext() | safe }}
        </p>
        {% endif %}
    {% endfor %}
  </li>
  {% endfor %}
</ul>
</div>
{% endif %}
