{% if ablog %}
<div class="ablog-sidebar-item ablog__recentposts">
<h3>
    <a href="{{ ablog.blog_baseurl}}/{{ pathto(ablog.blog_path) }}">{{ gettext('Recent Posts') }}:</a>
</h3>
<ul>
  {% set pcount = 1 %}
  {% for recent in ablog.recent(5, pagename) %}
  <li>
      <a href="{{ ablog.blog_baseurl }}/{{ pathto(recent.docname) }}{{ anchor(recent) }}">
          {{ recent.title }}
      </a>
      por
      <a href="{{ ablog.blog_baseurl }}/{{ pathto(ablog.blog_path) }}author/{{ recent.author[0] | lower | replace(' ', '-')  }}/">
        {{ recent.author[0] }}
      </a>
      el {{ recent.date.strftime(ablog.post_date_format) }}
    {% set ns = namespace(found_image=False) %}
    {% for excerpt in recent.excerpt %}
        {% for image in excerpt.traverse()  %}
            {% if not ns.found_image and image.tagname == 'image' %}
                {% set ns.found_image = True %}
                <p class="ablog-post-excerpt">
                    <img src="{{ ablog.blog_baseurl }}/{{ image['uri'] }}" alt="{{ excerpt.astext() | safe }}">
                </p>
            {% endif %}
        {% endfor %}
        {% if not ns.found_image and excerpt.tagname == 'paragraph' %}
        <p class="ablog-post-excerpt">
            {{ excerpt.astext() | safe }}
        </p>
        {% endif %}
    {% endfor %}
  </li>
  {% endfor %}
</ul>
</div>
{% endif %}
